@media ( max-width: 991px){

    body{
        background-color: black;
    }
    
    header, header.sticky{
    
        padding: 10px 10px;
    
    }
    header .navigation{
        display: none;
    }
    .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    header .navigation.active{
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 100px);
        align-items: center;
        justify-content: center;

    
        background-color: #fff;

    }
    .menuToggle{
        position: relative;
        height: 40px;
        width: 40px;
        background-image: url(../img/icon/menu.png);
        background-size: 30px;
        filter: invert(1);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        
    }

    .menuToggle.active{
        background-image: url(../img/icon/close.png);
        background-size: 25px;
    }

    header.sticky .menuToggle{
        filter: none;
    }
}